<div class="mx-auto text-center" style="width: 18rem;">
  <form action="/" method="POST">
    <input type="text" class="form-control" name="origin_url" placeholder="Your url" required>
    <button class="btn btn-secondary my-3" type="submit">Convert</button>
  </form>
</div>